<h3>Autor</h3>
<p>Creado por Rubén Munilla</p>
<p><img src="/images/foto.jpg" alt="fotografia">
	<video width="320" height="240" controls>
		<source src="/videos/video.mp4" type="video/mp4">
		Tu explorador no soporta video por html.
	</video>
</p>